.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.user-block, .central-block, .right-block {
  height: 100vh;
  overflow-y: auto;
}
.card-central {
  margin-bottom: 20px;
}
.card-right {
  margin-bottom: 20px;
  width: 100%;
}